<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mapper.ProductListMapper">

<select id="selectProductList" resultType = "com.yedam.vo.ProductVO">
	select *
	from tbl_product
<!-- 	select b.*
		from(select /* + index_desc(p pk_product) */ p.*, rownum rn
				   from tbl_product p
	) b
	where b.rn > (:page -1) *9
	<![CDATA[
	and b.rn <= (:page *9)
	]]> -->
</select>






</mapper>