<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.mapper.ProductListMapper">

	<select id="selectProductList" resultType="product">
		<![CDATA[
        SELECT ta.*
        FROM (
            SELECT /* + index_desc(b pk_product) */ ROWNUM rn, p.*
            FROM (SELECT *
                  FROM tbl_product
                  WHERE maincategory = #{maincategory}
         ]]>
                    <if test="maxPrice != null">
			          AND product_price &lt;= #{maxPrice}
			        </if>
		<![CDATA[
                  ORDER BY
                  	  CASE WHEN #{sort} = 'price' THEN product_price END ASC,
                	  CASE WHEN #{sort} = 'createdDate' THEN product_no END DESC
       			) p
            ) ta
            WHERE ta.rn <= #{startRow} + #{pageSize}
            AND ta.rn > #{startRow}
        ]]>
    </select>
    
    <select id="selectAllProducts" resultType="product">
    	SELECT *
    	FROM tbl_product
    </select>

    <select id="countTotalProducts" resultType="int">
        SELECT COUNT(*)
        FROM tbl_product
        WHERE maincategory = #{maincategory}
    </select>


	<select id="getLowestPriceProducts" resultType="product">
		SELECT *
		FROM tbl_product
		ORDER BY product_price
		FETCH FIRST 3 ROWS ONLY
	</select>
	
	<select id="getLowestPriceFrozenProducts" resultType="product">
		SELECT *
		FROM tbl_product
		where maincategory='냉동볶음밥'
		   or maincategory='냉동과일'
		   or maincategory='튀김류'
		ORDER BY product_price
		FETCH FIRST 3 ROWS ONLY
	</select>
	
	<select id="getFreshFoodList" resultType="product">
		SELECT *
		FROM tbl_product
		WHERE maincategory = '채소'
		   or maincategory='정육'
		   or maincategory='수산'
	</select>
	
	<select id="getFrozenFoodList" resultType="product">
		SELECT *
		FROM tbl_product
		WHERE maincategory = '냉동볶음밥'
		   or maincategory='냉동과일'
		   or maincategory='튀김류'
	</select>
	
	<select id="getHighPriceList" resultType="product">
		SELECT *
		FROM tbl_product
		ORDER BY product_price desc
		FETCH FIRST 6 ROWS ONLY
	</select>
</mapper>