<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ReviewMapper">

    <!-- 권한체크 -->
	<select id="authorityReview" parameterType="com.yedam.vo.ReviewVO" resultType="int">
	  	select count(*)
		from tbl_order o
		join tbl_member m
		on m.member_no = o.member_no
		join tbl_order_items i
		on o.order_no = i.order_no
		where m.member_id = #{memberId}
		and i.product_no = #{productNo}
	</select>
	
	<!-- 등록 -->
    <insert id="insertReview" parameterType="com.yedam.vo.ReviewVO">
    <selectKey keyProperty="reviewNo" resultType="int" order="BEFORE">
        SELECT review_seq.nextval FROM dual
    </selectKey>
   		 INSERT INTO tbl_review 
        (review_no, review_score, review_content, review_date, review_image, product_no, member_name, member_id)
   		 VALUES 
        (#{reviewNo}, #{reviewScore}, #{reviewContent}, SYSDATE, #{reviewImage}, #{productNo}, #{memberName}, #{memberId})
	</insert>
	
	<!-- 리뷰 리스트 페이징 -->
	<select id="selectReviewList" parameterType="map" resultType="com.yedam.vo.ReviewVO">
		SELECT *
   		FROM (
      	  SELECT ROWNUM rn, a.*
      	  FROM (
             SELECT review_no, review_score, review_content, review_date, review_image, product_no, member_name, member_id
             FROM tbl_review
             WHERE product_no = #{productNo}
             ORDER BY review_date DESC
    	     ) a
	   	 )
	  	  WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 리뷰 수 카운트 -->
	<select id="countReview" parameterType="int" resultType="int">
   	 	SELECT COUNT(*)
  	  	FROM tbl_review
   		WHERE product_no = #{productNo}
	</select>
	
	<!-- 리뷰평점 평균으로 상품평점 구하기 -->
	<update id="updateProductScore" parameterType="int">
	    UPDATE tbl_product p
	    SET p.product_score = (
	        SELECT NVL(ROUND(AVG(r.review_score), 1), 0)
	        FROM tbl_review r
	        WHERE r.product_no = #{productNo}
	    )
	    WHERE p.product_no = #{productNo}
	</update>
	
	<select id="selectReviewNo" parameterType="int" resultType="com.yedam.vo.ReviewVO">
    SELECT * FROM tbl_review WHERE review_no = #{reviewNo}
	</select>
	
	
	<delete id="deleteReview" parameterType="int" >
    DELETE FROM tbl_review WHERE review_no = #{reviewNo}
	</delete>
	
	<select id="getProductScore" parameterType="int" resultType="double">
    SELECT product_score FROM tbl_product WHERE product_no = #{productNo}
	</select>
	
</mapper>